<footer class="ha__footer">
  {{navigation type="secondary"}}
  <ul class="nav justify-content-center ha__footer-social">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-qq"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-weixin"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-weibo"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
    </li>
  </ul>
  <div class="w-100 d-flex justify-content-center ha__footer-copyright">
    <span>❤️ Young Theme &copy; 2020</span>
    <span>&nbsp; • &nbsp;</span>
    <span>Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></span>
  </div>
</footer>
{{> "site-search"}}
