<header class="ha__header">
  <nav class="ha__header-navbar navbar fixed-top navbar-expand-lg shadow-lg py-3">
    <div class="container">
      <a class="blog-name navbar-brand" href="/">淮城一只猫</a>
      <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbar-supported-content"
              aria-controls="navbar-supported-content"
              aria-expanded="false"
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-supported-content">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/youth">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="post-full.html">全宽详细页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="post.html">普通详细页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">菜单正在优化</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">菜单5</a>
          </li>
        </ul>
        <div class="d-flex ha__header-right">
          <button type="button" class="btn ha__header-right-search search-click-action">
            <i class="fas fa-search"></i>
          </button>
          <button type="button" class="btn ha__header-right-style dark-click-action">
            <i class="fas fa-moon"></i>
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
