<footer class="ha__footer">
  <ul class="nav justify-content-center ha__footer-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">链接1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">链接2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">链接3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">链接4</a>
    </li>
  </ul>
  <ul class="nav justify-content-center ha__footer-social">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-qq"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-weixin"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-weibo"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
    </li>
  </ul>
  <div class="w-100 d-flex justify-content-center ha__footer-copyright">
    <span>❤️ Young Theme &copy; 2020</span>
    <span>&nbsp; • &nbsp;</span>
    <span>Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></span>
  </div>
</footer>
<div class="ha__search position-fixed animated">
  <button type="button" class="search-close" aria-label="close">
    <i class="fas fa-times"></i>
  </button>
  <div class="input-group mb-3 search-area">
    <span class="input-group-text" id="search"><i class="fas fa-search"></i></span>
    <input type="text" class="form-control" placeholder="请输入搜索关键词..." aria-label="search" aria-describedby="search">
  </div>
  <div class="search-tags">
    <a href="post.html" class="tag-item" data-toggle="tooltip" data-placement="bottom" title="查看关于 标签1 标签的文章">
      标签1
    </a>
    <a href="#" class="tag-item" data-toggle="tooltip" data-placement="bottom" title="查看关于 标签2 标签的文章">
      标签2
    </a>
    <a
            href="#"
            class="tag-item"
            data-toggle="tooltip"
            data-placement="bottom"
            title="查看关于 标签3 标签的文章"
    >
      标签3
    </a>
    <a
            href="#"
            class="tag-item"
            data-toggle="tooltip"
            data-placement="bottom"
            title="查看关于 标签4 标签的文章"
    >
      标签4
    </a>
  </div>
</div>
